.gradle/
.idea/
/.toolchain/
/.cache/
/.konan/
local.properties
*.iml
*.ipr
*.iws

/app/build/
/app/.cxx/
/app/captures/

/release/
/signing/
/tmp/

*.apk
*.aab
*.keystore
*.jks
*.p12
*.pfx
*.log
*.db
*.sqlite
